header.head{
    display: flex;
    margin-top: 19px;
    justify-content: space-between;
    
}
div.componentsofheader{
    display: flex;
}
div.headerlinks{
    display: flex;
    gap: 40px;
    align-items: center;
}

div.headerlinks a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    size: 14;
}

div.freetrial a{
    text-decoration: none;
    color: #722ED1;
    border: 1px solid #722ED1;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 23px;
    transition: all;
    transition-duration: 0.5s;
}

div.freetrial a:hover{
    background-color: #722ED1;
    color: white;
}